body {
    padding: 0;
    margin: 3px;
   }
.holder { height: 140px;
    width: 400px;
    display: flex;
    border: 2px black;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
    padding: 3px;
    background-color:black;
    border-radius: 15px 15px 0 0;
  }
.item1 { 
       padding: 20px;
    align-content: center;
    width: 150px;
    height: 30px;
    order: 1;
    background-color: tomato;
    border-radius: 15px 0 0 0;
    flex-grow: 3;
}
.item2 {order:2;
      padding: 20px;
    align-content: center;
    width: 150px;
    height: 30px;
background-color: orange;
border-radius: 0 15px 0 0;
    flex-grow: 3;
}
.item3 {
        padding: 20px;
    align-content: center;
    width: 100px;
height: 30px;
order:3;
    background-color: indigo; 
flex-grow: 1; }
.item4 {
       padding: 20px;
    align-content: center;
    width: 100px;
    height: 30px;
order: 4;
    background-color: rgb(7, 112, 211);
    flex-grow: 1;
    }    
.item5 {
    padding: 20px;
    align-content: center;
    width: 80px;
    height: 30px;
    order: 5;
    background-color: green;
    flex-grow: 1;
}    
    